div.brownie_dashleft_8-gif
{
  position: relative;
  padding-left: 19px;
  padding-top: 4px;
  padding-right: 57px;
  padding-bottom: 0px;
  width: 52px;
  height: 28px;
  background: url('atlas.png') 19px 4px no-repeat;
  background-clip: content-box;
}

div.brownie_dashright_8-gif
{
  position: relative;
  padding-left: 57px;
  padding-top: 4px;
  padding-right: 19px;
  padding-bottom: 0px;
  width: 52px;
  height: 28px;
  background: url('atlas.png') 5px 4px no-repeat;
  background-clip: content-box;
}

div.brownie_dashright_7-gif
{
  position: relative;
  padding-left: 12px;
  padding-top: 1px;
  padding-right: 81px;
  padding-bottom: 0px;
  width: 35px;
  height: 31px;
  background: url('atlas.png') 12px -27px no-repeat;
  background-clip: content-box;
}

div.brownie_dashleft_7-gif
{
  position: relative;
  padding-left: 82px;
  padding-top: 2px;
  padding-right: 13px;
  padding-bottom: 0px;
  width: 33px;
  height: 30px;
  background: url('atlas.png') 82px -57px no-repeat;
  background-clip: content-box;
}

div.brownie_dashleft_1-gif
{
  position: relative;
  padding-left: 108px;
  padding-top: 0px;
  padding-right: 2px;
  padding-bottom: 0px;
  width: 18px;
  height: 32px;
  background: url('atlas.png') 108px -89px no-repeat;
  background-clip: content-box;
}

div.brownie_dashleft_2-gif
{
  position: relative;
  padding-left: 108px;
  padding-top: 0px;
  padding-right: 2px;
  padding-bottom: 0px;
  width: 18px;
  height: 32px;
  background: url('atlas.png') 108px -121px no-repeat;
  background-clip: content-box;
}

div.brownie_dashleft_3-gif
{
  position: relative;
  padding-left: 109px;
  padding-top: 0px;
  padding-right: 2px;
  padding-bottom: 0px;
  width: 17px;
  height: 32px;
  background: url('atlas.png') 91px -89px no-repeat;
  background-clip: content-box;
}

div.brownie_dashleft_4-gif
{
  position: relative;
  padding-left: 109px;
  padding-top: 0px;
  padding-right: 2px;
  padding-bottom: 0px;
  width: 17px;
  height: 32px;
  background: url('atlas.png') 91px -121px no-repeat;
  background-clip: content-box;
}

div.brownie_dashleft_5-gif
{
  position: relative;
  padding-left: 109px;
  padding-top: 0px;
  padding-right: 2px;
  padding-bottom: 0px;
  width: 17px;
  height: 32px;
  background: url('atlas.png') 109px -153px no-repeat;
  background-clip: content-box;
}

div.brownie_dashleft_6-gif
{
  position: relative;
  padding-left: 108px;
  padding-top: 0px;
  padding-right: 3px;
  padding-bottom: 0px;
  width: 17px;
  height: 32px;
  background: url('atlas.png') 91px -153px no-repeat;
  background-clip: content-box;
}

div.brownie_dashright_1-gif
{
  position: relative;
  padding-left: 3px;
  padding-top: 0px;
  padding-right: 109px;
  padding-bottom: 0px;
  width: 16px;
  height: 32px;
  background: url('atlas.png') 3px -185px no-repeat;
  background-clip: content-box;
}

div.brownie_dashright_2-gif
{
  position: relative;
  padding-left: 2px;
  padding-top: 0px;
  padding-right: 109px;
  padding-bottom: 0px;
  width: 17px;
  height: 32px;
  background: url('atlas.png') -14px -185px no-repeat;
  background-clip: content-box;
}

div.brownie_dashright_3-gif
{
  position: relative;
  padding-left: 2px;
  padding-top: 0px;
  padding-right: 109px;
  padding-bottom: 0px;
  width: 17px;
  height: 32px;
  background: url('atlas.png') 2px -217px no-repeat;
  background-clip: content-box;
}

div.brownie_dashright_4-gif
{
  position: relative;
  padding-left: 2px;
  padding-top: 0px;
  padding-right: 109px;
  padding-bottom: 0px;
  width: 17px;
  height: 32px;
  background: url('atlas.png') -15px -217px no-repeat;
  background-clip: content-box;
}

div.brownie_dashright_5-gif
{
  position: relative;
  padding-left: 2px;
  padding-top: 0px;
  padding-right: 109px;
  padding-bottom: 0px;
  width: 17px;
  height: 32px;
  background: url('atlas.png') -33px -28px no-repeat;
  background-clip: content-box;
}

div.brownie_dashright_6-gif
{
  position: relative;
  padding-left: 3px;
  padding-top: 0px;
  padding-right: 108px;
  padding-bottom: 0px;
  width: 17px;
  height: 32px;
  background: url('atlas.png') -32px -60px no-repeat;
  background-clip: content-box;
}

div.brownie_idle_21-gif
{
  position: relative;
  padding-left: 1px;
  padding-top: 18px;
  padding-right: 6px;
  padding-bottom: 14px;
  width: 25px;
  height: 32px;
  background: url('atlas.png') -51px -10px no-repeat;
  background-clip: content-box;
}

div.brownie_idle_22-gif
{
  position: relative;
  padding-left: 2px;
  padding-top: 25px;
  padding-right: 6px;
  padding-bottom: 7px;
  width: 24px;
  height: 32px;
  background: url('atlas.png') -75px -3px no-repeat;
  background-clip: content-box;
}

div.brownie_idle_23-gif
{
  position: relative;
  padding-left: 3px;
  padding-top: 31px;
  padding-right: 5px;
  padding-bottom: 1px;
  width: 24px;
  height: 32px;
  background: url('atlas.png') -98px 3px no-repeat;
  background-clip: content-box;
}

div.brownie_idle_1-gif
{
  position: relative;
  padding-left: 3px;
  padding-top: 34px;
  padding-right: 5px;
  padding-bottom: 0px;
  width: 24px;
  height: 30px;
  background: url('atlas.png') -122px 6px no-repeat;
  background-clip: content-box;
}

div.brownie_idle_14-gif
{
  position: relative;
  padding-left: 4px;
  padding-top: 0px;
  padding-right: 8px;
  padding-bottom: 34px;
  width: 20px;
  height: 30px;
  background: url('atlas.png') -145px -28px no-repeat;
  background-clip: content-box;
}

div.brownie_idle_15-gif
{
  position: relative;
  padding-left: 3px;
  padding-top: 1px;
  padding-right: 9px;
  padding-bottom: 33px;
  width: 20px;
  height: 30px;
  background: url('atlas.png') -166px -27px no-repeat;
  background-clip: content-box;
}

div.brownie_idle_2-gif
{
  position: relative;
  padding-left: 3px;
  padding-top: 34px;
  padding-right: 4px;
  padding-bottom: 0px;
  width: 25px;
  height: 30px;
  background: url('atlas.png') -186px 6px no-repeat;
  background-clip: content-box;
}

div.brownie_idle_20-gif
{
  position: relative;
  padding-left: 0px;
  padding-top: 13px;
  padding-right: 5px;
  padding-bottom: 21px;
  width: 27px;
  height: 30px;
  background: url('atlas.png') -214px -15px no-repeat;
  background-clip: content-box;
}

div.brownie_idle_24-gif
{
  position: relative;
  padding-left: 3px;
  padding-top: 34px;
  padding-right: 5px;
  padding-bottom: 0px;
  width: 24px;
  height: 30px;
  background: url('atlas.png') -238px 6px no-repeat;
  background-clip: content-box;
}

div.brownie_idle_32-gif
{
  position: relative;
  padding-left: 8px;
  padding-top: 5px;
  padding-right: 5px;
  padding-bottom: 29px;
  width: 19px;
  height: 30px;
  background: url('atlas.png') -44px -55px no-repeat;
  background-clip: content-box;
}

div.brownie_idle_43-gif
{
  position: relative;
  padding-left: 6px;
  padding-top: 17px;
  padding-right: 2px;
  padding-bottom: 17px;
  width: 24px;
  height: 30px;
  background: url('atlas.png') -65px -43px no-repeat;
  background-clip: content-box;
}

div.brownie_idle_44-gif
{
  position: relative;
  padding-left: 5px;
  padding-top: 24px;
  padding-right: 3px;
  padding-bottom: 10px;
  width: 24px;
  height: 30px;
  background: url('atlas.png') -90px -36px no-repeat;
  background-clip: content-box;
}

div.brownie_idle_45-gif
{
  position: relative;
  padding-left: 3px;
  padding-top: 30px;
  padding-right: 4px;
  padding-bottom: 4px;
  width: 25px;
  height: 30px;
  background: url('atlas.png') -116px -30px no-repeat;
  background-clip: content-box;
}

div.brownie_idle_46-gif
{
  position: relative;
  padding-left: 3px;
  padding-top: 34px;
  padding-right: 5px;
  padding-bottom: 0px;
  width: 24px;
  height: 30px;
  background: url('atlas.png') -141px -26px no-repeat;
  background-clip: content-box;
}

div.brownie_idle_9-gif
{
  position: relative;
  padding-left: 4px;
  padding-top: 6px;
  padding-right: 8px;
  padding-bottom: 28px;
  width: 20px;
  height: 30px;
  background: url('atlas.png') -164px -54px no-repeat;
  background-clip: content-box;
}

div.brownie_escapeleft_11-gif
{
  position: relative;
  padding-left: 9px;
  padding-top: 1px;
  padding-right: 7px;
  padding-bottom: 2px;
  width: 16px;
  height: 29px;
  background: url('atlas.png') -26px -91px no-repeat;
  background-clip: content-box;
}

div.brownie_escapeleft_13-gif
{
  position: relative;
  padding-left: 7px;
  padding-top: 1px;
  padding-right: 8px;
  padding-bottom: 2px;
  width: 17px;
  height: 29px;
  background: url('atlas.png') -28px -120px no-repeat;
  background-clip: content-box;
}

div.brownie_escapeleft_16-gif
{
  position: relative;
  padding-left: 7px;
  padding-top: 2px;
  padding-right: 6px;
  padding-bottom: 1px;
  width: 19px;
  height: 29px;
  background: url('atlas.png') -45px -88px no-repeat;
  background-clip: content-box;
}

div.brownie_escapeleft_17-gif
{
  position: relative;
  padding-left: 7px;
  padding-top: 2px;
  padding-right: 5px;
  padding-bottom: 1px;
  width: 20px;
  height: 29px;
  background: url('atlas.png') -181px -58px no-repeat;
  background-clip: content-box;
}

div.brownie_escapeleft_18-gif
{
  position: relative;
  padding-left: 7px;
  padding-top: 3px;
  padding-right: 4px;
  padding-bottom: 0px;
  width: 21px;
  height: 29px;
  background: url('atlas.png') -201px -57px no-repeat;
  background-clip: content-box;
}

div.brownie_escapeleft_19-gif
{
  position: relative;
  padding-left: 8px;
  padding-top: 3px;
  padding-right: 3px;
  padding-bottom: 0px;
  width: 21px;
  height: 29px;
  background: url('atlas.png') -221px -57px no-repeat;
  background-clip: content-box;
}

div.brownie_escapeleft_20-gif
{
  position: relative;
  padding-left: 8px;
  padding-top: 3px;
  padding-right: 2px;
  padding-bottom: 0px;
  width: 22px;
  height: 29px;
  background: url('atlas.png') -63px -87px no-repeat;
  background-clip: content-box;
}

div.brownie_escaperight_11-gif
{
  position: relative;
  padding-left: 7px;
  padding-top: 1px;
  padding-right: 9px;
  padding-bottom: 2px;
  width: 16px;
  height: 29px;
  background: url('atlas.png') -28px -149px no-repeat;
  background-clip: content-box;
}

div.brownie_escaperight_13-gif
{
  position: relative;
  padding-left: 8px;
  padding-top: 1px;
  padding-right: 7px;
  padding-bottom: 2px;
  width: 17px;
  height: 29px;
  background: url('atlas.png') -27px -178px no-repeat;
  background-clip: content-box;
}

div.brownie_escaperight_16-gif
{
  position: relative;
  padding-left: 6px;
  padding-top: 2px;
  padding-right: 7px;
  padding-bottom: 1px;
  width: 19px;
  height: 29px;
  background: url('atlas.png') -46px -117px no-repeat;
  background-clip: content-box;
}

div.brownie_escaperight_17-gif
{
  position: relative;
  padding-left: 5px;
  padding-top: 2px;
  padding-right: 7px;
  padding-bottom: 1px;
  width: 20px;
  height: 29px;
  background: url('atlas.png') -245px -58px no-repeat;
  background-clip: content-box;
}

div.brownie_escaperight_18-gif
{
  position: relative;
  padding-left: 4px;
  padding-top: 3px;
  padding-right: 7px;
  padding-bottom: 0px;
  width: 21px;
  height: 29px;
  background: url('atlas.png') -67px -116px no-repeat;
  background-clip: content-box;
}

div.brownie_escaperight_19-gif
{
  position: relative;
  padding-left: 3px;
  padding-top: 3px;
  padding-right: 8px;
  padding-bottom: 0px;
  width: 21px;
  height: 29px;
  background: url('atlas.png') -68px -145px no-repeat;
  background-clip: content-box;
}

div.brownie_escaperight_20-gif
{
  position: relative;
  padding-left: 2px;
  padding-top: 3px;
  padding-right: 8px;
  padding-bottom: 0px;
  width: 22px;
  height: 29px;
  background: url('atlas.png') -69px -174px no-repeat;
  background-clip: content-box;
}

div.brownie_idle_41-gif
{
  position: relative;
  padding-left: 6px;
  padding-top: 6px;
  padding-right: 0px;
  padding-bottom: 29px;
  width: 26px;
  height: 29px;
  background: url('atlas.png') -87px -84px no-repeat;
  background-clip: content-box;
}

div.brownie_idle_42-gif
{
  position: relative;
  padding-left: 5px;
  padding-top: 11px;
  padding-right: 1px;
  padding-bottom: 24px;
  width: 26px;
  height: 29px;
  background: url('atlas.png') -88px -108px no-repeat;
  background-clip: content-box;
}

div.brownie_idle_8-gif
{
  position: relative;
  padding-left: 3px;
  padding-top: 9px;
  padding-right: 6px;
  padding-bottom: 26px;
  width: 23px;
  height: 29px;
  background: url('atlas.png') -90px -139px no-repeat;
  background-clip: content-box;
}

div.brownie_dashleft_9-gif
{
  position: relative;
  padding-left: 0px;
  padding-top: 4px;
  padding-right: 102px;
  padding-bottom: 0px;
  width: 26px;
  height: 28px;
  background: url('atlas.png') -104px 4px no-repeat;
  background-clip: content-box;
}

div.brownie_dashright_9-gif
{
  position: relative;
  padding-left: 102px;
  padding-top: 4px;
  padding-right: 0px;
  padding-bottom: 0px;
  width: 26px;
  height: 28px;
  background: url('atlas.png') -28px 4px no-repeat;
  background-clip: content-box;
}

div.brownie_escapeleft_12-gif
{
  position: relative;
  padding-left: 8px;
  padding-top: 1px;
  padding-right: 9px;
  padding-bottom: 3px;
  width: 15px;
  height: 28px;
  background: url('atlas.png') -148px 1px no-repeat;
  background-clip: content-box;
}

div.brownie_escapeleft_14-gif
{
  position: relative;
  padding-left: 7px;
  padding-top: 1px;
  padding-right: 8px;
  padding-bottom: 3px;
  width: 17px;
  height: 28px;
  background: url('atlas.png') -164px 1px no-repeat;
  background-clip: content-box;
}

div.brownie_escapeleft_15-gif
{
  position: relative;
  padding-left: 7px;
  padding-top: 2px;
  padding-right: 7px;
  padding-bottom: 2px;
  width: 18px;
  height: 28px;
  background: url('atlas.png') -181px 2px no-repeat;
  background-clip: content-box;
}

div.brownie_escaperight_12-gif
{
  position: relative;
  padding-left: 9px;
  padding-top: 1px;
  padding-right: 8px;
  padding-bottom: 3px;
  width: 15px;
  height: 28px;
  background: url('atlas.png') -197px 1px no-repeat;
  background-clip: content-box;
}

div.brownie_escaperight_14-gif
{
  position: relative;
  padding-left: 8px;
  padding-top: 1px;
  padding-right: 7px;
  padding-bottom: 3px;
  width: 17px;
  height: 28px;
  background: url('atlas.png') -213px 1px no-repeat;
  background-clip: content-box;
}

div.brownie_escaperight_15-gif
{
  position: relative;
  padding-left: 7px;
  padding-top: 2px;
  padding-right: 7px;
  padding-bottom: 2px;
  width: 18px;
  height: 28px;
  background: url('atlas.png') -231px 2px no-repeat;
  background-clip: content-box;
}

div.brownie_idle_10-gif
{
  position: relative;
  padding-left: 1px;
  padding-top: 5px;
  padding-right: 9px;
  padding-bottom: 31px;
  width: 22px;
  height: 28px;
  background: url('atlas.png') -70px -201px no-repeat;
  background-clip: content-box;
}

div.brownie_idle_28-gif
{
  position: relative;
  padding-left: 5px;
  padding-top: 25px;
  padding-right: 3px;
  padding-bottom: 11px;
  width: 24px;
  height: 28px;
  background: url('atlas.png') -88px -152px no-repeat;
  background-clip: content-box;
}

div.brownie_idle_29-gif
{
  position: relative;
  padding-left: 7px;
  padding-top: 18px;
  padding-right: 4px;
  padding-bottom: 18px;
  width: 21px;
  height: 28px;
  background: url('atlas.png') -64px -216px no-repeat;
  background-clip: content-box;
}

div.brownie_idle_30-gif
{
  position: relative;
  padding-left: 8px;
  padding-top: 12px;
  padding-right: 5px;
  padding-bottom: 24px;
  width: 19px;
  height: 28px;
  background: url('atlas.png') -44px -136px no-repeat;
  background-clip: content-box;
}

div.brownie_idle_31-gif
{
  position: relative;
  padding-left: 8px;
  padding-top: 8px;
  padding-right: 5px;
  padding-bottom: 28px;
  width: 19px;
  height: 28px;
  background: url('atlas.png') -44px -168px no-repeat;
  background-clip: content-box;
}

div.brownie_idle_33-gif
{
  position: relative;
  padding-left: 8px;
  padding-top: 4px;
  padding-right: 4px;
  padding-bottom: 32px;
  width: 20px;
  height: 28px;
  background: url('atlas.png') -85px -201px no-repeat;
  background-clip: content-box;
}

div.brownie_idle_5-gif
{
  position: relative;
  padding-left: 4px;
  padding-top: 29px;
  padding-right: 4px;
  padding-bottom: 7px;
  width: 24px;
  height: 28px;
  background: url('atlas.png') -89px -204px no-repeat;
  background-clip: content-box;
}

div.brownie_idle_6-gif
{
  position: relative;
  padding-left: 4px;
  padding-top: 22px;
  padding-right: 4px;
  padding-bottom: 14px;
  width: 24px;
  height: 28px;
  background: url('atlas.png') -115px -68px no-repeat;
  background-clip: content-box;
}

div.brownie_idle_7-gif
{
  position: relative;
  padding-left: 4px;
  padding-top: 15px;
  padding-right: 4px;
  padding-bottom: 21px;
  width: 24px;
  height: 28px;
  background: url('atlas.png') -139px -75px no-repeat;
  background-clip: content-box;
}

div.brownie_escapeleft_1-gif
{
  position: relative;
  padding-left: 9px;
  padding-top: 4px;
  padding-right: 2px;
  padding-bottom: 1px;
  width: 21px;
  height: 27px;
  background: url('atlas.png') -158px -86px no-repeat;
  background-clip: content-box;
}

div.brownie_escapeleft_10-gif
{
  position: relative;
  padding-left: 9px;
  padding-top: 3px;
  padding-right: 4px;
  padding-bottom: 2px;
  width: 19px;
  height: 27px;
  background: url('atlas.png') -43px -201px no-repeat;
  background-clip: content-box;
}

div.brownie_escapeleft_9-gif
{
  position: relative;
  padding-left: 9px;
  padding-top: 4px;
  padding-right: 2px;
  padding-bottom: 1px;
  width: 21px;
  height: 27px;
  background: url('atlas.png') -179px -86px no-repeat;
  background-clip: content-box;
}

div.brownie_escaperight_1-gif
{
  position: relative;
  padding-left: 2px;
  padding-top: 4px;
  padding-right: 9px;
  padding-bottom: 1px;
  width: 21px;
  height: 27px;
  background: url('atlas.png') -207px -86px no-repeat;
  background-clip: content-box;
}

div.brownie_escaperight_10-gif
{
  position: relative;
  padding-left: 4px;
  padding-top: 3px;
  padding-right: 9px;
  padding-bottom: 2px;
  width: 19px;
  height: 27px;
  background: url('atlas.png') -48px -228px no-repeat;
  background-clip: content-box;
}

div.brownie_escaperight_9-gif
{
  position: relative;
  padding-left: 2px;
  padding-top: 4px;
  padding-right: 9px;
  padding-bottom: 1px;
  width: 21px;
  height: 27px;
  background: url('atlas.png') -228px -86px no-repeat;
  background-clip: content-box;
}

div.brownie_idle_13-gif
{
  position: relative;
  padding-left: 4px;
  padding-top: 1px;
  padding-right: 5px;
  padding-bottom: 36px;
  width: 23px;
  height: 27px;
  background: url('atlas.png') -115px -117px no-repeat;
  background-clip: content-box;
}

div.brownie_idle_17-gif
{
  position: relative;
  padding-left: 0px;
  padding-top: 4px;
  padding-right: 5px;
  padding-bottom: 34px;
  width: 27px;
  height: 26px;
  background: url('atlas.png') -142px -114px no-repeat;
  background-clip: content-box;
}

div.brownie_idle_18-gif
{
  position: relative;
  padding-left: 0px;
  padding-top: 6px;
  padding-right: 5px;
  padding-bottom: 32px;
  width: 27px;
  height: 26px;
  background: url('atlas.png') -169px -112px no-repeat;
  background-clip: content-box;
}

div.brownie_idle_19-gif
{
  position: relative;
  padding-left: 0px;
  padding-top: 9px;
  padding-right: 5px;
  padding-bottom: 28px;
  width: 27px;
  height: 27px;
  background: url('atlas.png') -142px -135px no-repeat;
  background-clip: content-box;
}

div.brownie_idle_27-gif
{
  position: relative;
  padding-left: 5px;
  padding-top: 33px;
  padding-right: 4px;
  padding-bottom: 4px;
  width: 23px;
  height: 27px;
  background: url('atlas.png') -114px -112px no-repeat;
  background-clip: content-box;
}

div.brownie_idle_4-gif
{
  position: relative;
  padding-left: 4px;
  padding-top: 36px;
  padding-right: 5px;
  padding-bottom: 1px;
  width: 23px;
  height: 27px;
  background: url('atlas.png') -115px -136px no-repeat;
  background-clip: content-box;
}

div.brownie_escapeleft_2-gif
{
  position: relative;
  padding-left: 5px;
  padding-top: 4px;
  padding-right: 4px;
  padding-bottom: 2px;
  width: 23px;
  height: 26px;
  background: url('atlas.png') -114px -195px no-repeat;
  background-clip: content-box;
}

div.brownie_escapeleft_7-gif
{
  position: relative;
  padding-left: 7px;
  padding-top: 5px;
  padding-right: 4px;
  padding-bottom: 1px;
  width: 21px;
  height: 26px;
  background: url('atlas.png') -112px -220px no-repeat;
  background-clip: content-box;
}

div.brownie_escapeleft_8-gif
{
  position: relative;
  padding-left: 9px;
  padding-top: 5px;
  padding-right: 4px;
  padding-bottom: 1px;
  width: 19px;
  height: 26px;
  background: url('atlas.png') -242px -85px no-repeat;
  background-clip: content-box;
}

div.brownie_escaperight_2-gif
{
  position: relative;
  padding-left: 4px;
  padding-top: 4px;
  padding-right: 5px;
  padding-bottom: 2px;
  width: 23px;
  height: 26px;
  background: url('atlas.png') -192px -114px no-repeat;
  background-clip: content-box;
}

div.brownie_escaperight_7-gif
{
  position: relative;
  padding-left: 4px;
  padding-top: 5px;
  padding-right: 7px;
  padding-bottom: 1px;
  width: 21px;
  height: 26px;
  background: url('atlas.png') -215px -113px no-repeat;
  background-clip: content-box;
}

div.brownie_escaperight_8-gif
{
  position: relative;
  padding-left: 4px;
  padding-top: 5px;
  padding-right: 9px;
  padding-bottom: 1px;
  width: 19px;
  height: 26px;
  background: url('atlas.png') -236px -113px no-repeat;
  background-clip: content-box;
}

div.brownie_idle_11-gif
{
  position: relative;
  padding-left: 2px;
  padding-top: 4px;
  padding-right: 5px;
  padding-bottom: 34px;
  width: 25px;
  height: 26px;
  background: url('atlas.png') -140px -167px no-repeat;
  background-clip: content-box;
}

div.brownie_idle_12-gif
{
  position: relative;
  padding-left: 2px;
  padding-top: 3px;
  padding-right: 4px;
  padding-bottom: 36px;
  width: 26px;
  height: 25px;
  background: url('atlas.png') -140px -194px no-repeat;
  background-clip: content-box;
}

div.brownie_idle_16-gif
{
  position: relative;
  padding-left: 1px;
  padding-top: 3px;
  padding-right: 5px;
  padding-bottom: 35px;
  width: 26px;
  height: 26px;
  background: url('atlas.png') -141px -219px no-repeat;
  background-clip: content-box;
}

div.brownie_idle_25-gif
{
  position: relative;
  padding-left: 3px;
  padding-top: 38px;
  padding-right: 5px;
  padding-bottom: 0px;
  width: 24px;
  height: 26px;
  background: url('atlas.png') -166px -106px no-repeat;
  background-clip: content-box;
}

div.brownie_idle_26-gif
{
  position: relative;
  padding-left: 4px;
  padding-top: 38px;
  padding-right: 4px;
  padding-bottom: 0px;
  width: 24px;
  height: 26px;
  background: url('atlas.png') -189px -106px no-repeat;
  background-clip: content-box;
}

div.brownie_idle_38-gif
{
  position: relative;
  padding-left: 6px;
  padding-top: 4px;
  padding-right: 1px;
  padding-bottom: 34px;
  width: 25px;
  height: 26px;
  background: url('atlas.png') -211px -140px no-repeat;
  background-clip: content-box;
}

div.brownie_idle_39-gif
{
  position: relative;
  padding-left: 6px;
  padding-top: 4px;
  padding-right: 1px;
  padding-bottom: 34px;
  width: 25px;
  height: 26px;
  background: url('atlas.png') -236px -140px no-repeat;
  background-clip: content-box;
}

div.brownie_idle_40-gif
{
  position: relative;
  padding-left: 6px;
  padding-top: 5px;
  padding-right: 0px;
  padding-bottom: 33px;
  width: 26px;
  height: 26px;
  background: url('atlas.png') -163px -165px no-repeat;
  background-clip: content-box;
}

div.brownie_escapeleft_5-gif
{
  position: relative;
  padding-left: 1px;
  padding-top: 5px;
  padding-right: 6px;
  padding-bottom: 3px;
  width: 25px;
  height: 24px;
  background: url('atlas.png') -168px -191px no-repeat;
  background-clip: content-box;
}

div.brownie_escapeleft_6-gif
{
  position: relative;
  padding-left: 5px;
  padding-top: 5px;
  padding-right: 3px;
  padding-bottom: 2px;
  width: 24px;
  height: 25px;
  background: url('atlas.png') -164px -215px no-repeat;
  background-clip: content-box;
}

div.brownie_escaperight_5-gif
{
  position: relative;
  padding-left: 6px;
  padding-top: 5px;
  padding-right: 1px;
  padding-bottom: 3px;
  width: 25px;
  height: 24px;
  background: url('atlas.png') -163px -240px no-repeat;
  background-clip: content-box;
}

div.brownie_escaperight_6-gif
{
  position: relative;
  padding-left: 3px;
  padding-top: 5px;
  padding-right: 5px;
  padding-bottom: 2px;
  width: 24px;
  height: 25px;
  background: url('atlas.png') -192px -165px no-repeat;
  background-clip: content-box;
}

div.brownie_idle_3-gif
{
  position: relative;
  padding-left: 4px;
  padding-top: 39px;
  padding-right: 5px;
  padding-bottom: 0px;
  width: 23px;
  height: 25px;
  background: url('atlas.png') -215px -131px no-repeat;
  background-clip: content-box;
}

div.brownie_idle_34-gif
{
  position: relative;
  padding-left: 7px;
  padding-top: 4px;
  padding-right: 1px;
  padding-bottom: 35px;
  width: 24px;
  height: 25px;
  background: url('atlas.png') -235px -166px no-repeat;
  background-clip: content-box;
}

div.brownie_idle_35-gif
{
  position: relative;
  padding-left: 7px;
  padding-top: 4px;
  padding-right: 0px;
  padding-bottom: 36px;
  width: 25px;
  height: 24px;
  background: url('atlas.png') -188px -191px no-repeat;
  background-clip: content-box;
}

div.brownie_idle_36-gif
{
  position: relative;
  padding-left: 7px;
  padding-top: 5px;
  padding-right: 0px;
  padding-bottom: 36px;
  width: 25px;
  height: 23px;
  background: url('atlas.png') -213px -190px no-repeat;
  background-clip: content-box;
}

div.brownie_escapeleft_3-gif
{
  position: relative;
  padding-left: 4px;
  padding-top: 5px;
  padding-right: 6px;
  padding-bottom: 4px;
  width: 22px;
  height: 23px;
  background: url('atlas.png') -241px -190px no-repeat;
  background-clip: content-box;
}

div.brownie_escapeleft_4-gif
{
  position: relative;
  padding-left: 3px;
  padding-top: 5px;
  padding-right: 6px;
  padding-bottom: 4px;
  width: 23px;
  height: 23px;
  background: url('atlas.png') -192px -214px no-repeat;
  background-clip: content-box;
}

div.brownie_escaperight_3-gif
{
  position: relative;
  padding-left: 6px;
  padding-top: 5px;
  padding-right: 4px;
  padding-bottom: 4px;
  width: 22px;
  height: 23px;
  background: url('atlas.png') -189px -237px no-repeat;
  background-clip: content-box;
}

div.brownie_escaperight_4-gif
{
  position: relative;
  padding-left: 6px;
  padding-top: 5px;
  padding-right: 3px;
  padding-bottom: 4px;
  width: 23px;
  height: 23px;
  background: url('atlas.png') -212px -214px no-repeat;
  background-clip: content-box;
}

div.brownie_idle_37-gif
{
  position: relative;
  padding-left: 10px;
  padding-top: 6px;
  padding-right: 0px;
  padding-bottom: 35px;
  width: 22px;
  height: 23px;
  background: url('atlas.png') -208px -236px no-repeat;
  background-clip: content-box;
}

