div.dashleft7-png
{
  position: relative;
  padding-left: 19px;
  padding-top: 4px;
  padding-right: 57px;
  padding-bottom: 0px;
  width: 52px;
  height: 28px;
  background: url('atlas.png') 19px 4px no-repeat;
  background-clip: content-box;
}

div.dashright7-png
{
  position: relative;
  padding-left: 57px;
  padding-top: 4px;
  padding-right: 19px;
  padding-bottom: 0px;
  width: 52px;
  height: 28px;
  background: url('atlas.png') 5px 4px no-repeat;
  background-clip: content-box;
}

div.dashright6-png
{
  position: relative;
  padding-left: 12px;
  padding-top: 1px;
  padding-right: 81px;
  padding-bottom: 0px;
  width: 35px;
  height: 31px;
  background: url('atlas.png') 12px -27px no-repeat;
  background-clip: content-box;
}

div.dashleft6-png
{
  position: relative;
  padding-left: 82px;
  padding-top: 1px;
  padding-right: 13px;
  padding-bottom: 0px;
  width: 33px;
  height: 31px;
  background: url('atlas.png') 82px -58px no-repeat;
  background-clip: content-box;
}

div.idle20-png
{
  position: relative;
  padding-left: 1px;
  padding-top: 18px;
  padding-right: 6px;
  padding-bottom: 13px;
  width: 25px;
  height: 33px;
  background: url('atlas.png') 1px -72px no-repeat;
  background-clip: content-box;
}

div.idle21-png
{
  position: relative;
  padding-left: 2px;
  padding-top: 24px;
  padding-right: 6px;
  padding-bottom: 7px;
  width: 24px;
  height: 33px;
  background: url('atlas.png') 2px -99px no-repeat;
  background-clip: content-box;
}

div.idle22-png
{
  position: relative;
  padding-left: 3px;
  padding-top: 31px;
  padding-right: 4px;
  padding-bottom: 0px;
  width: 25px;
  height: 33px;
  background: url('atlas.png') 3px -125px no-repeat;
  background-clip: content-box;
}

div.dashleft0-png
{
  position: relative;
  padding-left: 108px;
  padding-top: 0px;
  padding-right: 2px;
  padding-bottom: 0px;
  width: 18px;
  height: 32px;
  background: url('atlas.png') 108px -189px no-repeat;
  background-clip: content-box;
}

div.dashleft1-png
{
  position: relative;
  padding-left: 108px;
  padding-top: 0px;
  padding-right: 2px;
  padding-bottom: 0px;
  width: 18px;
  height: 32px;
  background: url('atlas.png') 108px -221px no-repeat;
  background-clip: content-box;
}

div.dashleft2-png
{
  position: relative;
  padding-left: 108px;
  padding-top: 0px;
  padding-right: 2px;
  padding-bottom: 0px;
  width: 18px;
  height: 32px;
  background: url('atlas.png') 73px -28px no-repeat;
  background-clip: content-box;
}

div.dashleft3-png
{
  position: relative;
  padding-left: 108px;
  padding-top: 0px;
  padding-right: 2px;
  padding-bottom: 0px;
  width: 18px;
  height: 32px;
  background: url('atlas.png') 73px -60px no-repeat;
  background-clip: content-box;
}

div.dashleft4-png
{
  position: relative;
  padding-left: 108px;
  padding-top: 0px;
  padding-right: 2px;
  padding-bottom: 0px;
  width: 18px;
  height: 32px;
  background: url('atlas.png') 73px -92px no-repeat;
  background-clip: content-box;
}

div.dashleft5-png
{
  position: relative;
  padding-left: 108px;
  padding-top: 0px;
  padding-right: 2px;
  padding-bottom: 0px;
  width: 18px;
  height: 32px;
  background: url('atlas.png') 73px -124px no-repeat;
  background-clip: content-box;
}

div.dashright0-png
{
  position: relative;
  padding-left: 2px;
  padding-top: 0px;
  padding-right: 108px;
  padding-bottom: 0px;
  width: 18px;
  height: 32px;
  background: url('atlas.png') -33px -156px no-repeat;
  background-clip: content-box;
}

div.dashright1-png
{
  position: relative;
  padding-left: 2px;
  padding-top: 0px;
  padding-right: 108px;
  padding-bottom: 0px;
  width: 18px;
  height: 32px;
  background: url('atlas.png') -33px -188px no-repeat;
  background-clip: content-box;
}

div.dashright2-png
{
  position: relative;
  padding-left: 2px;
  padding-top: 0px;
  padding-right: 108px;
  padding-bottom: 0px;
  width: 18px;
  height: 32px;
  background: url('atlas.png') -33px -220px no-repeat;
  background-clip: content-box;
}

div.dashright3-png
{
  position: relative;
  padding-left: 2px;
  padding-top: 0px;
  padding-right: 109px;
  padding-bottom: 0px;
  width: 17px;
  height: 32px;
  background: url('atlas.png') -16px -189px no-repeat;
  background-clip: content-box;
}

div.dashright4-png
{
  position: relative;
  padding-left: 2px;
  padding-top: 0px;
  padding-right: 109px;
  padding-bottom: 0px;
  width: 17px;
  height: 32px;
  background: url('atlas.png') -16px -221px no-repeat;
  background-clip: content-box;
}

div.dashright5-png
{
  position: relative;
  padding-left: 2px;
  padding-top: 0px;
  padding-right: 108px;
  padding-bottom: 0px;
  width: 18px;
  height: 32px;
  background: url('atlas.png') -51px -28px no-repeat;
  background-clip: content-box;
}

div.idle14-png
{
  position: relative;
  padding-left: 3px;
  padding-top: 0px;
  padding-right: 8px;
  padding-bottom: 33px;
  width: 21px;
  height: 31px;
  background: url('atlas.png') -68px -28px no-repeat;
  background-clip: content-box;
}

div.idle23-png
{
  position: relative;
  padding-left: 3px;
  padding-top: 33px;
  padding-right: 5px;
  padding-bottom: 0px;
  width: 24px;
  height: 31px;
  background: url('atlas.png') -89px 5px no-repeat;
  background-clip: content-box;
}

div.idle44-png
{
  position: relative;
  padding-left: 3px;
  padding-top: 30px;
  padding-right: 4px;
  padding-bottom: 3px;
  width: 25px;
  height: 31px;
  background: url('atlas.png') -113px 2px no-repeat;
  background-clip: content-box;
}

div.escapeleft11-png
{
  position: relative;
  padding-left: 7px;
  padding-top: 0px;
  padding-right: 8px;
  padding-bottom: 2px;
  width: 17px;
  height: 30px;
  background: url('atlas.png') -134px -28px no-repeat;
  background-clip: content-box;
}

div.escapeleft12-png
{
  position: relative;
  padding-left: 7px;
  padding-top: 0px;
  padding-right: 8px;
  padding-bottom: 2px;
  width: 17px;
  height: 30px;
  background: url('atlas.png') -151px -28px no-repeat;
  background-clip: content-box;
}

div.escapeleft16-png
{
  position: relative;
  padding-left: 7px;
  padding-top: 2px;
  padding-right: 5px;
  padding-bottom: 0px;
  width: 20px;
  height: 30px;
  background: url('atlas.png') -168px -26px no-repeat;
  background-clip: content-box;
}

div.escaperight11-png
{
  position: relative;
  padding-left: 9px;
  padding-top: 0px;
  padding-right: 8px;
  padding-bottom: 2px;
  width: 15px;
  height: 30px;
  background: url('atlas.png') -186px -28px no-repeat;
  background-clip: content-box;
}

div.escaperight12-png
{
  position: relative;
  padding-left: 8px;
  padding-top: 0px;
  padding-right: 7px;
  padding-bottom: 2px;
  width: 17px;
  height: 30px;
  background: url('atlas.png') -202px -28px no-repeat;
  background-clip: content-box;
}

div.idle0-png
{
  position: relative;
  padding-left: 2px;
  padding-top: 34px;
  padding-right: 5px;
  padding-bottom: 0px;
  width: 25px;
  height: 30px;
  background: url('atlas.png') -225px 6px no-repeat;
  background-clip: content-box;
}

div.idle1-png
{
  position: relative;
  padding-left: 3px;
  padding-top: 34px;
  padding-right: 4px;
  padding-bottom: 0px;
  width: 25px;
  height: 30px;
  background: url('atlas.png') -50px -26px no-repeat;
  background-clip: content-box;
}

div.idle13-png
{
  position: relative;
  padding-left: 4px;
  padding-top: 0px;
  padding-right: 7px;
  padding-bottom: 34px;
  width: 21px;
  height: 30px;
  background: url('atlas.png') -248px -28px no-repeat;
  background-clip: content-box;
}

div.idle19-png
{
  position: relative;
  padding-left: 0px;
  padding-top: 13px;
  padding-right: 5px;
  padding-bottom: 21px;
  width: 27px;
  height: 30px;
  background: url('atlas.png') -78px -47px no-repeat;
  background-clip: content-box;
}

div.idle30-png
{
  position: relative;
  padding-left: 7px;
  padding-top: 7px;
  padding-right: 5px;
  padding-bottom: 27px;
  width: 20px;
  height: 30px;
  background: url('atlas.png') -46px -83px no-repeat;
  background-clip: content-box;
}

div.idle31-png
{
  position: relative;
  padding-left: 7px;
  padding-top: 5px;
  padding-right: 5px;
  padding-bottom: 29px;
  width: 20px;
  height: 30px;
  background: url('atlas.png') -46px -115px no-repeat;
  background-clip: content-box;
}

div.idle42-png
{
  position: relative;
  padding-left: 5px;
  padding-top: 17px;
  padding-right: 2px;
  padding-bottom: 17px;
  width: 25px;
  height: 30px;
  background: url('atlas.png') -48px -133px no-repeat;
  background-clip: content-box;
}

div.idle43-png
{
  position: relative;
  padding-left: 5px;
  padding-top: 24px;
  padding-right: 3px;
  padding-bottom: 10px;
  width: 24px;
  height: 30px;
  background: url('atlas.png') -48px -156px no-repeat;
  background-clip: content-box;
}

div.idle45-png
{
  position: relative;
  padding-left: 2px;
  padding-top: 34px;
  padding-right: 5px;
  padding-bottom: 0px;
  width: 25px;
  height: 30px;
  background: url('atlas.png') -51px -176px no-repeat;
  background-clip: content-box;
}

div.idle7-png
{
  position: relative;
  padding-left: 3px;
  padding-top: 9px;
  padding-right: 6px;
  padding-bottom: 25px;
  width: 23px;
  height: 30px;
  background: url('atlas.png') -50px -231px no-repeat;
  background-clip: content-box;
}

div.idle8-png
{
  position: relative;
  padding-left: 4px;
  padding-top: 6px;
  padding-right: 7px;
  padding-bottom: 28px;
  width: 21px;
  height: 30px;
  background: url('atlas.png') -101px -54px no-repeat;
  background-clip: content-box;
}

div.dashleft8-png
{
  position: relative;
  padding-left: 0px;
  padding-top: 3px;
  padding-right: 102px;
  padding-bottom: 0px;
  width: 26px;
  height: 29px;
  background: url('atlas.png') -126px -57px no-repeat;
  background-clip: content-box;
}

div.escapeleft10-png
{
  position: relative;
  padding-left: 9px;
  padding-top: 1px;
  padding-right: 7px;
  padding-bottom: 2px;
  width: 16px;
  height: 29px;
  background: url('atlas.png') -143px -59px no-repeat;
  background-clip: content-box;
}

div.escapeleft13-png
{
  position: relative;
  padding-left: 6px;
  padding-top: 1px;
  padding-right: 7px;
  padding-bottom: 2px;
  width: 19px;
  height: 29px;
  background: url('atlas.png') -162px -59px no-repeat;
  background-clip: content-box;
}

div.escapeleft15-png
{
  position: relative;
  padding-left: 6px;
  padding-top: 2px;
  padding-right: 6px;
  padding-bottom: 1px;
  width: 20px;
  height: 29px;
  background: url('atlas.png') -181px -58px no-repeat;
  background-clip: content-box;
}

div.escapeleft17-png
{
  position: relative;
  padding-left: 7px;
  padding-top: 3px;
  padding-right: 4px;
  padding-bottom: 0px;
  width: 21px;
  height: 29px;
  background: url('atlas.png') -200px -57px no-repeat;
  background-clip: content-box;
}

div.escapeleft18-png
{
  position: relative;
  padding-left: 7px;
  padding-top: 3px;
  padding-right: 2px;
  padding-bottom: 0px;
  width: 23px;
  height: 29px;
  background: url('atlas.png') -221px -57px no-repeat;
  background-clip: content-box;
}

div.escapeleft19-png
{
  position: relative;
  padding-left: 8px;
  padding-top: 3px;
  padding-right: 2px;
  padding-bottom: 0px;
  width: 22px;
  height: 29px;
  background: url('atlas.png') -243px -57px no-repeat;
  background-clip: content-box;
}

div.escapeleft9-png
{
  position: relative;
  padding-left: 9px;
  padding-top: 2px;
  padding-right: 4px;
  padding-bottom: 1px;
  width: 19px;
  height: 29px;
  background: url('atlas.png') -69px -88px no-repeat;
  background-clip: content-box;
}

div.escaperight10-png
{
  position: relative;
  padding-left: 7px;
  padding-top: 1px;
  padding-right: 9px;
  padding-bottom: 2px;
  width: 16px;
  height: 29px;
  background: url('atlas.png') -71px -118px no-repeat;
  background-clip: content-box;
}

div.escaperight13-png
{
  position: relative;
  padding-left: 7px;
  padding-top: 1px;
  padding-right: 6px;
  padding-bottom: 2px;
  width: 19px;
  height: 29px;
  background: url('atlas.png') -71px -147px no-repeat;
  background-clip: content-box;
}

div.escaperight15-png
{
  position: relative;
  padding-left: 6px;
  padding-top: 2px;
  padding-right: 6px;
  padding-bottom: 1px;
  width: 20px;
  height: 29px;
  background: url('atlas.png') -91px -88px no-repeat;
  background-clip: content-box;
}

div.escaperight16-png
{
  position: relative;
  padding-left: 5px;
  padding-top: 2px;
  padding-right: 7px;
  padding-bottom: 1px;
  width: 20px;
  height: 29px;
  background: url('atlas.png') -92px -117px no-repeat;
  background-clip: content-box;
}

div.escaperight17-png
{
  position: relative;
  padding-left: 4px;
  padding-top: 3px;
  padding-right: 7px;
  padding-bottom: 0px;
  width: 21px;
  height: 29px;
  background: url('atlas.png') -113px -87px no-repeat;
  background-clip: content-box;
}

div.escaperight18-png
{
  position: relative;
  padding-left: 3px;
  padding-top: 3px;
  padding-right: 7px;
  padding-bottom: 0px;
  width: 22px;
  height: 29px;
  background: url('atlas.png') -135px -87px no-repeat;
  background-clip: content-box;
}

div.escaperight19-png
{
  position: relative;
  padding-left: 2px;
  padding-top: 3px;
  padding-right: 8px;
  padding-bottom: 0px;
  width: 22px;
  height: 29px;
  background: url('atlas.png') -158px -87px no-repeat;
  background-clip: content-box;
}

div.idle27-png
{
  position: relative;
  padding-left: 4px;
  padding-top: 25px;
  padding-right: 3px;
  padding-bottom: 10px;
  width: 25px;
  height: 29px;
  background: url('atlas.png') -178px -65px no-repeat;
  background-clip: content-box;
}

div.idle28-png
{
  position: relative;
  padding-left: 7px;
  padding-top: 18px;
  padding-right: 4px;
  padding-bottom: 17px;
  width: 21px;
  height: 29px;
  background: url('atlas.png') -200px -72px no-repeat;
  background-clip: content-box;
}

div.idle29-png
{
  position: relative;
  padding-left: 8px;
  padding-top: 12px;
  padding-right: 5px;
  padding-bottom: 23px;
  width: 19px;
  height: 29px;
  background: url('atlas.png') -70px -165px no-repeat;
  background-clip: content-box;
}

div.idle32-png
{
  position: relative;
  padding-left: 8px;
  padding-top: 3px;
  padding-right: 4px;
  padding-bottom: 32px;
  width: 20px;
  height: 29px;
  background: url('atlas.png') -89px -145px no-repeat;
  background-clip: content-box;
}

div.idle40-png
{
  position: relative;
  padding-left: 5px;
  padding-top: 6px;
  padding-right: 0px;
  padding-bottom: 29px;
  width: 27px;
  height: 29px;
  background: url('atlas.png') -223px -84px no-repeat;
  background-clip: content-box;
}

div.idle41-png
{
  position: relative;
  padding-left: 5px;
  padding-top: 11px;
  padding-right: 1px;
  padding-bottom: 24px;
  width: 26px;
  height: 29px;
  background: url('atlas.png') -112px -108px no-repeat;
  background-clip: content-box;
}

div.idle9-png
{
  position: relative;
  padding-left: 1px;
  padding-top: 4px;
  padding-right: 9px;
  padding-bottom: 31px;
  width: 22px;
  height: 29px;
  background: url('atlas.png') -116px -144px no-repeat;
  background-clip: content-box;
}

div.dashright8-png
{
  position: relative;
  padding-left: 102px;
  padding-top: 4px;
  padding-right: 0px;
  padding-bottom: 0px;
  width: 26px;
  height: 28px;
  background: url('atlas.png') -2px 4px no-repeat;
  background-clip: content-box;
}

div.escapeleft14-png
{
  position: relative;
  padding-left: 6px;
  padding-top: 2px;
  padding-right: 6px;
  padding-bottom: 2px;
  width: 20px;
  height: 28px;
  background: url('atlas.png') -124px 2px no-repeat;
  background-clip: content-box;
}

div.escaperight0-png
{
  position: relative;
  padding-left: 2px;
  padding-top: 3px;
  padding-right: 8px;
  padding-bottom: 1px;
  width: 22px;
  height: 28px;
  background: url('atlas.png') -148px 3px no-repeat;
  background-clip: content-box;
}

div.escaperight14-png
{
  position: relative;
  padding-left: 6px;
  padding-top: 2px;
  padding-right: 6px;
  padding-bottom: 2px;
  width: 20px;
  height: 28px;
  background: url('atlas.png') -166px 2px no-repeat;
  background-clip: content-box;
}

div.escaperight8-png
{
  position: relative;
  padding-left: 2px;
  padding-top: 4px;
  padding-right: 8px;
  padding-bottom: 0px;
  width: 22px;
  height: 28px;
  background: url('atlas.png') -190px 4px no-repeat;
  background-clip: content-box;
}

div.idle18-png
{
  position: relative;
  padding-left: 0px;
  padding-top: 9px;
  padding-right: 5px;
  padding-bottom: 27px;
  width: 27px;
  height: 28px;
  background: url('atlas.png') -214px 9px no-repeat;
  background-clip: content-box;
}

div.idle4-png
{
  position: relative;
  padding-left: 4px;
  padding-top: 29px;
  padding-right: 4px;
  padding-bottom: 7px;
  width: 24px;
  height: 28px;
  background: url('atlas.png') -237px 29px no-repeat;
  background-clip: content-box;
}

div.idle5-png
{
  position: relative;
  padding-left: 3px;
  padding-top: 22px;
  padding-right: 4px;
  padding-bottom: 14px;
  width: 25px;
  height: 28px;
  background: url('atlas.png') -114px -155px no-repeat;
  background-clip: content-box;
}

div.idle6-png
{
  position: relative;
  padding-left: 4px;
  padding-top: 15px;
  padding-right: 4px;
  padding-bottom: 21px;
  width: 24px;
  height: 28px;
  background: url('atlas.png') -113px -190px no-repeat;
  background-clip: content-box;
}

div.escapeleft0-png
{
  position: relative;
  padding-left: 8px;
  padding-top: 4px;
  padding-right: 2px;
  padding-bottom: 1px;
  width: 22px;
  height: 27px;
  background: url('atlas.png') -109px -229px no-repeat;
  background-clip: content-box;
}

div.escapeleft7-png
{
  position: relative;
  padding-left: 9px;
  padding-top: 4px;
  padding-right: 4px;
  padding-bottom: 1px;
  width: 19px;
  height: 27px;
  background: url('atlas.png') -69px -202px no-repeat;
  background-clip: content-box;
}

div.escapeleft8-png
{
  position: relative;
  padding-left: 8px;
  padding-top: 4px;
  padding-right: 2px;
  padding-bottom: 1px;
  width: 22px;
  height: 27px;
  background: url('atlas.png') -135px -115px no-repeat;
  background-clip: content-box;
}

div.escaperight7-png
{
  position: relative;
  padding-left: 4px;
  padding-top: 5px;
  padding-right: 9px;
  padding-bottom: 0px;
  width: 19px;
  height: 27px;
  background: url('atlas.png') -74px -228px no-repeat;
  background-clip: content-box;
}

div.escaperight9-png
{
  position: relative;
  padding-left: 3px;
  padding-top: 3px;
  padding-right: 9px;
  padding-bottom: 2px;
  width: 20px;
  height: 27px;
  background: url('atlas.png') -94px -174px no-repeat;
  background-clip: content-box;
}

div.idle12-png
{
  position: relative;
  padding-left: 4px;
  padding-top: 1px;
  padding-right: 4px;
  padding-bottom: 36px;
  width: 24px;
  height: 27px;
  background: url('atlas.png') -161px -118px no-repeat;
  background-clip: content-box;
}

div.idle15-png
{
  position: relative;
  padding-left: 0px;
  padding-top: 3px;
  padding-right: 5px;
  padding-bottom: 35px;
  width: 27px;
  height: 26px;
  background: url('atlas.png') -189px -116px no-repeat;
  background-clip: content-box;
}

div.idle16-png
{
  position: relative;
  padding-left: 0px;
  padding-top: 4px;
  padding-right: 5px;
  padding-bottom: 34px;
  width: 27px;
  height: 26px;
  background: url('atlas.png') -216px -115px no-repeat;
  background-clip: content-box;
}

div.idle17-png
{
  position: relative;
  padding-left: 0px;
  padding-top: 5px;
  padding-right: 5px;
  padding-bottom: 32px;
  width: 27px;
  height: 27px;
  background: url('atlas.png') -243px -114px no-repeat;
  background-clip: content-box;
}

div.idle24-png
{
  position: relative;
  padding-left: 3px;
  padding-top: 37px;
  padding-right: 5px;
  padding-bottom: 0px;
  width: 24px;
  height: 27px;
  background: url('atlas.png') -140px -109px no-repeat;
  background-clip: content-box;
}

div.idle26-png
{
  position: relative;
  padding-left: 4px;
  padding-top: 33px;
  padding-right: 4px;
  padding-bottom: 4px;
  width: 24px;
  height: 27px;
  background: url('atlas.png') -139px -140px no-repeat;
  background-clip: content-box;
}

div.idle3-png
{
  position: relative;
  padding-left: 4px;
  padding-top: 36px;
  padding-right: 5px;
  padding-bottom: 1px;
  width: 23px;
  height: 27px;
  background: url('atlas.png') -139px -164px no-repeat;
  background-clip: content-box;
}

div.idle39-png
{
  position: relative;
  padding-left: 6px;
  padding-top: 4px;
  padding-right: 0px;
  padding-bottom: 33px;
  width: 26px;
  height: 27px;
  background: url('atlas.png') -161px -142px no-repeat;
  background-clip: content-box;
}

div.escapeleft1-png
{
  position: relative;
  padding-left: 5px;
  padding-top: 4px;
  padding-right: 4px;
  padding-bottom: 2px;
  width: 23px;
  height: 26px;
  background: url('atlas.png') -138px -223px no-repeat;
  background-clip: content-box;
}

div.escapeleft4-png
{
  position: relative;
  padding-left: 1px;
  padding-top: 5px;
  padding-right: 5px;
  padding-bottom: 3px;
  width: 26px;
  height: 24px;
  background: url('atlas.png') -192px -141px no-repeat;
  background-clip: content-box;
}

div.escapeleft6-png
{
  position: relative;
  padding-left: 7px;
  padding-top: 5px;
  padding-right: 4px;
  padding-bottom: 1px;
  width: 21px;
  height: 26px;
  background: url('atlas.png') -248px -85px no-repeat;
  background-clip: content-box;
}

div.escaperight1-png
{
  position: relative;
  padding-left: 4px;
  padding-top: 4px;
  padding-right: 5px;
  padding-bottom: 2px;
  width: 23px;
  height: 26px;
  background: url('atlas.png') -215px -142px no-repeat;
  background-clip: content-box;
}

div.escaperight6-png
{
  position: relative;
  padding-left: 3px;
  padding-top: 5px;
  padding-right: 7px;
  padding-bottom: 1px;
  width: 22px;
  height: 26px;
  background: url('atlas.png') -239px -141px no-repeat;
  background-clip: content-box;
}

div.idle10-png
{
  position: relative;
  padding-left: 2px;
  padding-top: 4px;
  padding-right: 5px;
  padding-bottom: 34px;
  width: 25px;
  height: 26px;
  background: url('atlas.png') -165px -169px no-repeat;
  background-clip: content-box;
}

div.idle11-png
{
  position: relative;
  padding-left: 2px;
  padding-top: 3px;
  padding-right: 4px;
  padding-bottom: 35px;
  width: 26px;
  height: 26px;
  background: url('atlas.png') -190px -170px no-repeat;
  background-clip: content-box;
}

div.idle2-png
{
  position: relative;
  padding-left: 4px;
  padding-top: 38px;
  padding-right: 5px;
  padding-bottom: 0px;
  width: 23px;
  height: 26px;
  background: url('atlas.png') -163px -161px no-repeat;
  background-clip: content-box;
}

div.idle25-png
{
  position: relative;
  padding-left: 4px;
  padding-top: 38px;
  padding-right: 4px;
  padding-bottom: 0px;
  width: 24px;
  height: 26px;
  background: url('atlas.png') -163px -187px no-repeat;
  background-clip: content-box;
}

div.idle37-png
{
  position: relative;
  padding-left: 5px;
  padding-top: 4px;
  padding-right: 1px;
  padding-bottom: 34px;
  width: 26px;
  height: 26px;
  background: url('atlas.png') -213px -169px no-repeat;
  background-clip: content-box;
}

div.idle38-png
{
  position: relative;
  padding-left: 6px;
  padding-top: 4px;
  padding-right: 1px;
  padding-bottom: 34px;
  width: 25px;
  height: 26px;
  background: url('atlas.png') -238px -169px no-repeat;
  background-clip: content-box;
}

div.escapeleft2-png
{
  position: relative;
  padding-left: 3px;
  padding-top: 4px;
  padding-right: 6px;
  padding-bottom: 3px;
  width: 23px;
  height: 25px;
  background: url('atlas.png') -164px -247px no-repeat;
  background-clip: content-box;
}

div.escapeleft5-png
{
  position: relative;
  padding-left: 5px;
  padding-top: 5px;
  padding-right: 2px;
  padding-bottom: 2px;
  width: 25px;
  height: 25px;
  background: url('atlas.png') -187px -194px no-repeat;
  background-clip: content-box;
}

div.escaperight2-png
{
  position: relative;
  padding-left: 6px;
  padding-top: 4px;
  padding-right: 4px;
  padding-bottom: 3px;
  width: 22px;
  height: 25px;
  background: url('atlas.png') -186px -220px no-repeat;
  background-clip: content-box;
}

div.escaperight4-png
{
  position: relative;
  padding-left: 6px;
  padding-top: 5px;
  padding-right: 1px;
  padding-bottom: 3px;
  width: 25px;
  height: 24px;
  background: url('atlas.png') -186px -244px no-repeat;
  background-clip: content-box;
}

div.escaperight5-png
{
  position: relative;
  padding-left: 2px;
  padding-top: 5px;
  padding-right: 5px;
  padding-bottom: 2px;
  width: 25px;
  height: 25px;
  background: url('atlas.png') -215px -194px no-repeat;
  background-clip: content-box;
}

div.idle33-png
{
  position: relative;
  padding-left: 6px;
  padding-top: 4px;
  padding-right: 1px;
  padding-bottom: 35px;
  width: 25px;
  height: 25px;
  background: url('atlas.png') -236px -195px no-repeat;
  background-clip: content-box;
}

div.idle34-png
{
  position: relative;
  padding-left: 7px;
  padding-top: 4px;
  padding-right: 0px;
  padding-bottom: 36px;
  width: 25px;
  height: 24px;
  background: url('atlas.png') -210px -220px no-repeat;
  background-clip: content-box;
}

div.idle35-png
{
  position: relative;
  padding-left: 7px;
  padding-top: 5px;
  padding-right: 0px;
  padding-bottom: 36px;
  width: 25px;
  height: 23px;
  background: url('atlas.png') 7px -248px no-repeat;
  background-clip: content-box;
}

div.escapeleft3-png
{
  position: relative;
  padding-left: 3px;
  padding-top: 5px;
  padding-right: 5px;
  padding-bottom: 4px;
  width: 24px;
  height: 23px;
  background: url('atlas.png') -140px -248px no-repeat;
  background-clip: content-box;
}

div.escaperight3-png
{
  position: relative;
  padding-left: 6px;
  padding-top: 5px;
  padding-right: 3px;
  padding-bottom: 4px;
  width: 23px;
  height: 23px;
  background: url('atlas.png') -211px -243px no-repeat;
  background-clip: content-box;
}

div.idle36-png
{
  position: relative;
  padding-left: 10px;
  padding-top: 6px;
  padding-right: 0px;
  padding-bottom: 35px;
  width: 22px;
  height: 23px;
  background: url('atlas.png') -232px -218px no-repeat;
  background-clip: content-box;
}

